.profilepage-main{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background-color: #343131;
    height: 100vh;
}
.profilepage-image img{
    border: none;
    outline: none;
    border-radius: 50%;
    width: 220px;
    margin: 10px;
}
.profilepage-name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    padding: 5px;
    margin: 10px;
}

.profilepage-actual-name{
    font-size: 32px;
}
.profilepage-username{
    font-size: 18px;
}

.profilepage-logout{
    position: relative;
    right: 10px;
}

.profilepage-edit-selection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profilepage-selection{
    margin: 0px 15px;
    padding: 5px;
}

button{
    padding: 2px 8px;
    border: none;
    border-radius: 20px;
    color: aliceblue;
    background-color: blue;
}

.friend-request-profile-direct{
    background-color: #343131;
    border: none;
    padding: none;
    outline: none;
}
.friend-requests-listitems{
    display: flex;
}
.friend-requests-listitems img{
    width: 50px;
    height: 50px;
    border-radius:50% ;
}