.login-window{
    margin-left: 10%;

    background: #7B7373;
    width: 20%;
    height: 350px;

    border-radius: 20px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.login-form{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

input{
    border: 1px solid white;
    outline: none;
    border-radius: 20px;
    padding: 12px;
    margin: 15px;
}
.login-head{
    color:#060c78 ;
    margin: 15px;
}
.login-button{
    background-color: #7C80EC;
    color: white;
    border: none;
    padding: 12px 25px 12px 25px;
    border-radius: 20px;
    margin: 10px;
}
.create-new-account{
    margin: 10px;
    padding: 12px 25px 12px 25px;
    border: none;
    border-radius: 20px;
}

.login-window button{
  border-radius: 10px;
  background-color: #4147C9;
  padding: 4px 8px;

  outline: none;
  border: none;
  margin-top: 15px;
}

p{
    color: white;
    font-size: 24px;
}

.register-instead{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    margin-left: 60px;
}

.register-instead button{
    color: aliceblue;
    background-color: #060c78;
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 20px;
}

/* Mobile interface  */

@media screen and (max-width: 720px) {
    .login-window{
        width: 60%;
        margin-left: 0;
    }
}