/* .right-side-comp{
    height: 80vh;
} */
.right-comp-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    background-color: #7C80EC;

    border-radius: 20px 20px 0 0;
}

.right-header-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}

.right-header-left{
    display: flex;
}

.chat-name-display button{
    background-color: #7C80EC;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.chat-name-display h4{
    font-size: 24px;
    color: aliceblue;
}
.chat-name-display p{
    color: aliceblue;
}

.right-header-right{
    padding: 10px;
    margin: 10px;
}
.right-header-right button{
    background-color: #7C80EC;
    border: none;
    outline: none;

    margin: 10px;
}

.right-footer{
    position: relative;
    top: 0.1vh;
}
.right-footer input{
    width: 90%;
    background-color: black;
    border-color: black;
    color: aliceblue;
    margin-right: 0;
}

.right-footer button{
    background-color: #7C80EC;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0;
    font-size: 16px;
    color: aliceblue;
    outline: none;
    border: none;
}

.right-body{
    height: 62vh;
}

.sender{
    display: flex;
    align-items: center;
}
.sender p{
    background-color: #7C80EC;
    width: fit-content;
    padding: 4px 7px;
    border-radius: 10px;
    color: aliceblue;
}
.sender img{
    width: 30px;
    height: 30px;
    background-color: #313131;
    border-radius: 50%;
    margin: 10px;
}
.receiver{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.receiver p{
    background-color: black;
    width: fit-content;
    padding: 4px 7px;
    border-radius: 10px;
    color: aliceblue;
}

.receiver img{
    width: 30px;
    height: 30px;
    background-color: #313131;
    border-radius: 50%;
    margin: 10px;
}

.select-user-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top:60px;
}