.search-box input{
    border-radius: 20px;
    background: #7B7373;
    border: none;

    width: 50vw;
    height: 50px;

    color: aliceblue;
    font-size: 24px;
    margin-top:30px ;
    margin-right: 90px; 
}
.show-friends-cards{
    height: fit-content;
}
.cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    max-height: 60vh;
    overflow-x:inherit;
    min-height: 0vh;
    height: fit-content;

    width: 90%;
    margin: 4px;

    
    position: absolute;
    top: 10%;
    left: 10%;
}

.i-card{
    margin: 4px;
    border-radius: 20px;
    background-color: #343131;
    padding: 4px;
    width: 35%;
    display: flex;
}
.i-card img{
    width: 30px;
    width: 30px;
    border-radius:50% ;

    margin: 5px;
}

.c-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.i-card h1{
    font-size: 16px;
}
.i-card p{
    font-size: 12px;
    margin: 6px;
}

.big-button{
    color:aliceblue;
    width: 60%;
    background-color: #343131;
    outline: none;
    border: none;
}
.add-friend{
    background-color: #7C80EC;
    padding: 6px;
    border-radius: 20px;
    margin-right: 0px;
    border: none;
    outline: none;
    color: aliceblue;
}